[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "nvim"]
	path = nvim
	url = https://github.com/igor-mircic/nvim
[submodule "awesome"]
	path = awesome
	url = git@github.com:igor-mircic/awesome.git
